<p>Questionnaire!</p>

<mat-card class="formulaire">
  <mat-card-title> <h2>Quelle est votre objectif ! </h2> </mat-card-title>
  <form>
    <section class="objectif">
      <ul>
        <li> <mat-checkbox class="aventure" > Vivre une aventure</mat-checkbox> </li>
        <li>  <mat-checkbox class="region" > Decouvrir une région </mat-checkbox> </li>
        <li>  <mat-checkbox class="famille" > M'amuser en famille  </mat-checkbox> </li>
        <li>  <mat-checkbox class="mix" > Un parcours mix </mat-checkbox> </li>
        <li>  <mat-checkbox class="cuturel" > Je veux m'enrichir culturellement </mat-checkbox> </li>
        <li>  <mat-checkbox class="romance" > Une escapade romantique </mat-checkbox> </li>
      </ul>
      <button type="submit" (click)="btnNb()"> Suivant </button>
    </section>
  </form>
</mat-card>


