$base-color: #090019;
$background: #e6e2ebe5;

.formulaire{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  color : $base-color;
  margin: 10em;
  padding: 10em;
}

li {
  list-style: none;
}
