
<mat-card class="formulaire">

  <mat-card-title> <h2> Durée du parcours   </h2> </mat-card-title>

  <form>
    <section class="duree">
      <ul>
        <li> <mat-checkbox class="demi" > Une demi-journée complète </mat-checkbox> </li>
        <li>
          <mat-checkbox class="complete" > une journée complète</mat-checkbox>
        </li>
        <li>
          <mat-checkbox class="weekend" > Un weekend </mat-checkbox>
        </li>
        <li>
          <mat-checkbox class="perso" > Personnalisée </mat-checkbox>
        </li>
      </ul>
      <button type="submit" (click)="btnNourriture()"> Suivant </button>
    </section>
  </form>
</mat-card>

