<mat-card class="formulaire">

  <mat-card-title> <h2>  Age  </h2> </mat-card-title>
  <form>
    <section class="age">
      <ul>
        <li> <mat-checkbox class="moinsde" > - 18 ans </mat-checkbox> </li>
        <li>  <mat-checkbox class="entre1" > Entre 18 et 25 ans  </mat-checkbox> </li>
        <li>  <mat-checkbox class="entre2" > Entre 26 et 35 ans   </mat-checkbox> </li>
        <li>  <mat-checkbox class="entre3" > Entre 36 et 50 Ans </mat-checkbox> </li>
        <li>  <mat-checkbox class="plusde" > Plus de 50 Ans </mat-checkbox> </li>
      </ul>
      <button type="submit" (click)="btnBudget()"> Suivant </button>
    </section>
  </form>

</mat-card>
