$base-color: #090019;
$background: #e6e2ebe5;

.resultat{
  background-color: $background;
  color : $base-color;
  margin: 3em;
  padding: 5em;
}

.colonne{
  margin: 3em;
}


img{
  width: 100%;
  height: auto;
}
