$base-color: #090019;
$background: #e6e2ebe5;


.accueil{
  justify-content: center;
  align-items: center;
  background-color: $background;
  color : $base-color;
  margin: 10em;
  padding: 10em;
}


img{
  width: 100%;
  height: auto;
}
